In [1]:
import random
def char():
    stats = [sum(sorted([random.randint(1, 6) for _ in range(4)])[1:]) for _ in range(6)]
    return stats

In [2]:
import pandas as pd

In [15]:
num_chars = 5
pd.DataFrame([sorted(char(), reverse=True) for _ in range(num_chars)],
             index = list(range(1, num_chars+1))).T

    1   2   3   4   5
0  14  17  15  16  16
1  13  16  14  16  14
2  11  14  12  15  14
3  10  12  11  15  14
4  10  11   9  13  10
5   6   6   8  13   4