In [1]:
import full_simulator

In [ ]:
from built_characters import hexadin, hexadin5, paladin, paladin_pure  # noqa

In [2]:
# def visualize_table(table):

In [3]:
# pdb

In [4]:
# !pip install snakeviz

In [5]:
%load_ext snakeviz

In [6]:
pdb

Automatic pdb calling has been turned ON

In [7]:
%%snakeviz
res = full_simulator.main()
res

[0, 0, 0, 0, 0, 1, 1, 1, 1, 1]
[1, 1, 1, 1, 1, 2, 2, 1, 1, 2]
[2, 2, 2, 2, 2, 2, 2, 2, 2, 2]
[2, 2, 2, 2, 2, 2, 2, 2, 2, 2]
[3, 2, 3, 3, 3, 3, 3, 3, 3, 3]

*** Profile stats marshalled to file 'C:\\Users\\10838233\\AppData\\Local\\Temp\\tmpag8e_0k_'.
Embedding SnakeViz in this document...

In [8]:
# [(c, c.hp) for c in table.flatten() if c != 0]

In [9]:
res

   11  12  13  14  15
0   0   1   2   2   3
1   0   1   2   2   2
2   0   1   2   2   3
3   0   1   2   2   3
4   0   1   2   2   3
5   1   2   2   2   3
6   1   2   2   2   3
7   1   1   2   2   3
8   1   1   2   2   3
9   1   2   2   2   3

In [10]:
res.mean()

11    0.5
12    1.3
13    2.0
14    2.0
15    2.9
dtype: float64

In [11]:

max(1, 2)

2